@model ViewModels._BaseViewModel
<footer class="footer-area bg-color pt-70 pb-70">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-sm-6">
				<div class="footer-widget ">
					<h2>درباره مستانه</h2>
					<p>موسسه روانشناسی مستانه با ارائه خدماتی در زمینه های مشاوره، درمان، دوره های آموزشی اشنایی با سبک و مهارت های زندگی با هدف تحکیم و تقویت نهاد خانواده، توسعه فرهنگی و سرگرمی ها و پیدایش استعداد و خلاقیت های زندگی و هنری در خدمت هموطنان عزیز می باشد.</p>
				</div>
			</div>

			<div class="col-lg-3 col-sm-6">
				<div class="footer-widget ">
					<h2>لینک های مفید</h2>
					<ul class="widget-list">
						<li>
							<a href="/service">
								<i class="bx bx-check-circle"></i>لیست خدمات
							</a>
						</li>
						<li>
							<a href="/appointment">
								<i class="bx bx-check-circle"></i>درخواست مشاوره
							</a>
						</li>
						<li>
							<a href="/expert">
								<i class="bx bx-check-circle"></i>متخصصین مستانه
							</a>
						</li>
						<li>
							<a href="/blog">
								<i class="bx bx-check-circle"></i>وبلاگ
							</a>
						</li>
						<li>
							<a href="/about">
								<i class="bx bx-check-circle"></i>درباره ما
							</a>
						</li>
						<li>
							<a href="/contact">
								<i class="bx bx-check-circle"></i>تماس با ما
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-lg-3 col-sm-6">
				<div class="footer-widget">
					<h2>آخرین مطالب وبلاک</h2>
					<ul class="widget-list">
						@foreach (var blog in Model.FooterBlogs)
						{
							<li><a href="/blog/post/@blog.UrlParam">@blog.Title</a></li>
						}
					</ul>
				</div>
			</div>

			<div class="col-lg-3 col-sm-6">
				<div class="footer-widget">
					<h2>اطلاعات تماس</h2>
					<p>تهران . نیاوران سه راه یاسر جنب بانک پاسارگاد پلاک 234 طبقه 5 واحد 503</p>
					<ul class="contact">

						<li>
							<a href="tel:+267-784-4336">
								<i class='bx bx-phone-call'></i>021.22280882 , 021.22280883
							</a>
						</li>
						<li>
							<a href="mailto:info@mastaneclinic.com">
								<i class='bx bx-message-dots'></i>
								info [at] mastaneclinic.com
							</a>
						</li>
						<li>
							<a target="_blank" rel="noreferrer nofollow" href="https://api.whatsapp.com/send?phone=989107270910&amp;text=سلام و وقت بخیر"><i class='bx bxl-whatsapp'></i> تماس از طریق واتس اپ</a>
						</li>
					</ul>
					<ul class="social-link">
						<li>
							<a href="#" target="_blank">
								<i class='bx bxl-facebook bg-1'></i>
							</a>
						</li>
						<li>
							<a href="#" target="_blank">
								<i class='bx bxl-twitter bg-2'></i>
							</a>
						</li>
						<li>
							<a href="#" target="_blank">
								<i class='bx bxl-linkedin bg-3'></i>
							</a>
						</li>
						<li>
							<a href="https://www.instagram.com/mastaneh.clinic/" rel="nofollow" target="_blank">
								<i class='bx bxl-instagram bg-4'></i>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</footer>
<div class="footer-bottom-area">
	<div class="container">
		<p>تمامی حقوق این وب سایت متعلق به کلینیک مستانه می باشد. <a href="https://zavoshsoftware.com/" rel="nofollow">طراحی و سئو سایت زاوش</a></p>
	</div>
</div>