@font-face {
    font-family: 'Iransans';
    src: url(/fonts/IranSans/IRANSansWebFaNum.eot) format('embedded-opentype'), 
        url(/fonts/IranSans/IRANSansWebFaNum.woff2) format('woff2'),
        url(/fonts/IranSans/IRANSansWebFaNum.woff) format('woff'), url(/fonts/IranSans/IRANSansWebFaNum.ttf) format('truetype');
    font-display: swap;
}

body, p, a, h1, h2, h3, h4, h5, h6, ul, li, input, button, table, th, td {
    font-family: IRANSans,"tahoma","arial";
}

.hb-navigation > ul {
    direction: rtl;
}

.s-card-three-text {
    border: 1px solid #496e6e;
    border-top: none;
}

.footer-widget  p {
    text-align: justify;
}

.blog-card .b-card-text h3 {
    min-height: 60px
}

#SuccessDiv, #errorDiv {
    display: none;
}

.bg-color2 {
    background-color: #e5e7e8;
}

.services-card-three .s-card-three-text h3 {
    min-height: 50px;
}

.section-title-one {
    max-width: 600px !important;
}

.expert-btn {
    text-align: center;
    margin-top: 24px;
}

.services-dateils-area .services-details .details-text h2 {
    font-size: 1.7rem !important;
    color: #3f6363;
}
.services-dateils-area .services-details .details-text h3 {
    font-size: 1.3rem !important;
    color: #496e6e;
}
.services-dateils-area .services-details .details-text p {
    text-align: justify;
}

.services-dateils-area .services-details ul li {
    display: list-item !important;
    font-size: 1rem !important;
    color: #555555 !important;
}
.services-dateils-area .services-details ul li:before {
    display: block !important;
    font-size: 1rem !important;
    color: #555555 !important;
}

.manager-team .manager-card {
    margin-bottom: 15px;

}.manager-team .manager-card img {
    border-radius: 20px 20px 0 0;

}
.manager-team .manager-card .manager-caption {
    background-color: #fff;
    border-radius:0 0 20px 20px;
    text-align: center;
    padding: 15px 0;
}
.manager-team .manager-card .manager-caption span{
    font-family: iransans !important;
}
.manager-team .manager-card .manager-caption a{
    color: #000;
}

@media (min-width:1200px) {
    .custom-container {
        max-width: 1090px !important;
    }
}

.appointment-form button, .appointment-form input, .appointment-form .current {
    font-family: iransans !important;
}